@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    background-color: #b7b9bec5;
}

body {
    font-family: Geneva, Verdana, Tahoma, sans-serif;
    line-height: 1.75;
    color: #24262b;
}

.tree {
    width: 50px;
    clip-path: circle();
}

.nav {
    height: 50px;
    width: 100%;
    background-color: #91a5b6;
    position: relative;
}

.nav>.nav-header {
    display: inline;
}

.nav>.nav-header>.nav-title {
    display: inline-block;
    font-size: 22px;
    color: #010611;
    font-weight: 550;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 10px 10px 10px;
}

.nav>.nav-btn {
    display: none;
}

.nav>.nav-links {
    display: inline;
    float: right;
    font-size: 18px;
}

.nav>.nav-links>ul li a {
    display: block;
    padding: 0 8px;
    color: #24262b;
    line-height: 40px;
    font-size: 18px;
    text-decoration: none;
}

.nav>.nav-links>ul {
    padding: 0;
    margin-top: 5px;
    list-style: none;
    position: relative;
}

.nav>.nav-links>ul li {
    display: inline-block;
    background-color: #91a5b6;
}

.nav>.nav-links>ul li:hover {
    background-color: #70879c;
    border-radius: 5px;
}

.nav>#nav-check {
    display: none;
}


/*imp*/

@media (max-width:750px) {
    .nav>.nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
    }
    .nav>.nav-btn>label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
    }
    .nav>.nav-btn>label:hover,
    .nav #nav-check:checked~.nav-btn>label {
        background-color: rgba(0, 0, 0, 0.3);
    }
    .nav>.nav-btn>label>span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #eee;
    }
    .nav>.nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #333;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0px;
    }
    .nav>.nav-links>ul li a {
        display: block;
        width: 100%;
    }
    /*   */
    .nav>.nav-links>ul li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
        background-color: #333;
    }
    .nav>.nav-links>ul li a {
        margin-left: 40%;
    }
    .nav .nav-links ul a.icon {
        margin-left: 33%;
    }
    /*   */
    .nav>#nav-check:not(:checked)~.nav-links {
        height: 0px;
    }
    .nav>#nav-check:checked~.nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
    }
}


/**/

.container {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.footer {
    background-color: #91a5b6;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #24262b;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h2::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #24262b;
    text-decoration: none;
    font-weight: 300;
    display: block;
}

.footer-col ul li a:hover {
    color: gba(0, 0, 0, 0.3);
    background-color: #70879c;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #fff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}


/*responsive*/

@media(max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}